.outer-div {
    height: 200px;
    width: 200px;
    border: 2px solid gray;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* margin: 0 auto; */
}

.inner-div {
    height: 50px;
    width: 50px;
    border: 2px solid green;
    position: absolute;
    left: 50%;
    top: 50%;
    /* margin-top: -100px;
    margin-left: -100px; */
}

.outer-div {
    display: flex;
    flex-wrap: wrap;
}

.container {
    height: 100vh;
}

.lefttop,
.righttop,
.leftbottom,
.rightbottom {
    height: 100px;
    width: 100px;
    border: 2px solid green;
}

.lefttop {
    align-self: flex-start;
    order: 1;
}

.righttop {
    align-self: flex-start;
    order: 2;
    margin-left: auto;
}

.leftbottom {
    align-self: flex-end;
    order: 3;
}

.rightbottom {
    align-self: flex-end;
    order: 4;
    margin-left: auto;
}

.parent {
    display: flex;
}

.child {
    /* width: 50px; */
    height: 50px;
    border: 1px solid green;
    flex: 1;
    width: 20%;
    margin: 10px;
    flex-wrap: wrap;
}